[DEFAULT]

# This file contains shared config info for upload.py and ifdbize.py.
# It must be readable by www-data and admins.

# Shelve path where IFDB IDs are stored (no longer used)
# IFDBIdMapFile = /var/ifarchive/lib/ifids

# SQLite database for admin tasks.
DBFile = /var/ifarchive/lib/sql/admin.db

# Max total size of files in the incoming directory
MaxIncomingDirSize = 10000

# This is a secret shared with IFDB
IFDBCommitKey = XXXX
